.header {
  background-color: $green_light;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  @include width-from($medium_device) {
    margin-bottom: 50px;
  }
  &__logo {
    height: 50px;
    background: image-url('green-party-logo@2x.png') no-repeat 50% 50%;
    background-size: contain;
    @include width-from($medium_device) {
      height: 95px;
    }
  }
}