extends layout/layout

block vars
  - bodyClass = ""
  - pageTitle = "Home"

block content
  .header
    .header__logo

  .middle-container
    .poll-box
      h1.poll__question_intro Soho requires safer cycle lanes?
      h2.poll__queston Do you agree?
      .poll___answers
        a.button.poll-box__answer-button(href="/sign-in") Sign in to vote
