extends layout/layout

block vars
  - bodyClass = ""
  - pageTitle = "Poll: Soho requires safer cycle lanes?"

block content
  .middle-container
    .poll-box
      h1.poll__question_intro Soho requires safer cycle lanes?
      h2.poll__queston Do you agree?
      .poll___answers
        a.button.poll-box__answer-button(href="./view-poll") yes
        a.button.poll-box__answer-button(href="./view-poll") no
